<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    <form action="login" method="post">
        {%csrf_token %}
        <input type="text" name="username"><br>
        <input type="password" name="password" ><br>
        <input type="submit"><br>

        <!-- <button>Register here</button> -->
        <!-- the name register is come from the url called register from here (name = 'register') register is the unique name used for  referencing like this -->
        <a href="{% url 'register' %}">Register here</a> 

       

    
    </form>
    
    <div>
        {% for message in messages %}
        <h3> {{message}}</h3>
        {% endfor %}
    </div>

</body>
</html>

